/* MainLayout.css */
.app-layout {
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
  --sidebar-width: 260px;
  --sidebar-width-collapsed: 70px;
}

.main-section {
  margin-left: var(--sidebar-width);
  margin-top: 52px;
  width: calc(100% - var(--sidebar-width));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f4f6f8;
  transition:
    margin-left 0.2s ease-in-out,
    width 0.2s ease-in-out;
}

.main-section.collapsed {
  margin-left: var(--sidebar-width-collapsed);
  width: calc(100% - var(--sidebar-width-collapsed));
}
.page-content {
  flex-grow: 1;
  padding: 24px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .main-section,
  .main-section.collapsed {
    margin-left: 0;
    width: 100%;
  }
}
